<div>
  <footer id="footer" class="footer dark-background">
    <div class="container">
      <div class="row gy-5">
        <div class="col-lg-3">
          <div class="footer-brand">
            <a href="#/" class="logo d-flex align-items-center me-auto">
              <!-- Uncomment the line below if you also wish to use an image logo -->
              <img src="./assets/img/favicon.png" alt="" />
            </a>

            <div class="social-links mt-4">
              <a href="#" aria-label="Facebook"
                ><i class="bi bi-facebook"></i
              ></a>
              <a href="#" aria-label="Instagram"
                ><i class="bi bi-instagram"></i
              ></a>
              <a href="#" aria-label="LinkedIn"
                ><i class="bi bi-linkedin"></i
              ></a>
              <a href="#" aria-label="Twitter"
                ><i class="bi bi-twitter-x"></i
              ></a>
              <a href="#" aria-label="Dribbble"
                ><i class="bi bi-dribbble"></i
              ></a>
            </div>
          </div>
        </div>

        <div class="col-lg-7">
          <div class="footer-links-grid">
            <div class="row">
              <div class="col-6 col-md-3">
                <h5>Links rapido</h5>
                <ul class="list-unstyled">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Empresa</a></li>
                  <li><a href="#">Recursos</a></li>
                  <li><a href="#">Contactos</a></li>
                </ul>
              </div>

              <div class="col-6 col-md-9">
                <h5>Services</h5>
                <ul class="list-unstyled">
                  <li>
                    <a href="#"
                      >Construção Civil e Electricidade Civil,
                      <span class="spanserv">Infraestruturas Metálicas</span>
                    </a>
                  </li>

                  <li>
                    <a href="#"
                      >Montagem e Canalização Industrial,
                      <span class="spanserv">Caixilharia e Carpintaria</span></a
                    >
                  </li>

                  <li>
                    <a href="#"
                      >Pintura, Alpinismo Industrial e Fachadas,
                      <span class="spanserv"
                        >Limpeza de Drenagem e Pós-Obra</span
                      ></a
                    >
                  </li>

                  <li>
                    <a href="#"
                      >Manutenção de Ar-Condicionado e Mecânica,
                      <span class="spanserv">Pladur e Tecto Falso</span></a
                    >
                  </li>

                  <li>
                    <a href="#"
                      >Gestão de Condomínios e Venda de Materiais,
                      <span class="spanserv"
                        >Gestão Empresarial e Organização Interna</span
                      ></a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-2">
          <div class="footer-cta">
            <h5>Vamos nos conectar</h5>
            <a href="#/contato" class="btn btn-outline">Entre em contato</a>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="footer-bottom-content">
              <p class="mb-0">
                © <span class="sitename">CK-KINOQUENE</span>. Todos os direitos reservados.
              </p>
              <div class="credits"> 
                <!-- Licensing information: https://h-https://h-jlsystem.com/.com/license/ --> 
                Projetado por
                <a href="https://h-jlsystem.com/" target="_blank">JLSystem.</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

    <!-- Botão do WhatsApp com efeito piscando -->
  <a href="https://wa.me/244952599476" class="whatsapp-button" target="_blank" title="Fale conosco no WhatsApp">
    <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/whatsapp.svg" alt="WhatsApp">
  </a>
  <!-- Scroll Top -->
  <a
    href="#"
    id="scroll-top"
    class="scroll-top d-flex align-items-center justify-content-center"
    ><i class="bi bi-arrow-up-short"></i
  ></a>

  <!-- Preloader -->
</div>
